ZY5P7F_1008/ZY5P7F_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ZY5P7F_orarend">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ora" type="oraTipus" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="oraTipus">
		<xs:sequence>
			<xs:element name="targy" type="targyTipus"/>
			<xs:element name="idopont" type="idopontTipus"/>
			<xs:element name="helyszin" type="helyszinTipus"/>
			<xs:element name="oktato" type="oktatoTipus"/>
			<xs:element name="szak" type="szakTipus"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="tipus" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="targyTipus">
		<xs:attribute name="nev" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="idopontTipus">
		<xs:sequence>
			<xs:element name="nap" type="napTipus"/>
			<xs:element name="tol" type="tolTipus"/>
			<xs:element name="ig" type="igTipus"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="napTipus">
		<xs:attribute name="napn" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="tolTipus">
		<xs:attribute name="tolt" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="igTipus">
		<xs:attribute name="igt" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="helyszinTipus">
		<xs:attribute name="hol" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="oktatoTipus">
		<xs:attribute name="neve" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="szakTipus">
		<xs:attribute name="sznev" type="xs:string" use="required"/>
	</xs:complexType>

</xs:schema>
