ZY5P7F_XMLTask/ZY5P7FDOMParse/ZY5P7F_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="DateType">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>

    <xs:simpleType name="SSNType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}-\d{2}-\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="HouseNum" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonNameType">
        <xs:sequence>
            <xs:element name="FirstName" type="xs:string"/>
            <xs:element name="LastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedicationType">
        <xs:sequence>
            <xs:element name="BrandName" type="xs:string"/>
            <xs:element name="ActiveIngredient" type="xs:string"/>
            <xs:element name="DosageForm" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="PrescriptionType">
        <xs:sequence>
            <xs:element name="DailyDosage" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="MedicalRecordType">
        <xs:sequence>
            <xs:element name="AdmissionDate" type="DateType"/>
            <xs:element name="MainDiagnosis" type="xs:string"/>
            <xs:element name="Severity" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="PatientType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Address" type="AddressType"/>
            <xs:element name="DateOfBirth" type="DateType"/>
            <xs:element name="MedicalRecord" type="MedicalRecordType"/>
            <xs:element name="Prescription" type="PrescriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="ssn" type="SSNType" use="required"/>
    </xs:complexType>

    <xs:complexType name="PsychiatristType">
        <xs:sequence>
            <xs:element name="Name" type="PersonNameType"/>
            <xs:element name="PhoneNumbers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Email" type="xs:string"/>
            <xs:element name="Patients">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Patient" type="PatientType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="license" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="WardType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Floor" type="xs:integer"/>
            <xs:element name="BedCount" type="xs:integer"/>
            <xs:element name="Psychiatrists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Psychiatrist" type="PsychiatristType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>


    <xs:element name="PsychiatrySystem">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="Medications">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Medication" type="MedicationType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Wards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Ward" type="WardType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <xs:key name="MedicationKey">
            <xs:selector xpath="Medications/Medication"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="PrescriptionToMedicationRef" refer="MedicationKey">
            <xs:selector xpath=".//Prescription"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

    </xs:element>

</xs:schema>